* {
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
}
.head1,
.head2,
.head3,
.head4 {
  font-size: x-large;
}
h1 {
  font-weight: 1000;
}

.Search {
  border-radius: 20px;
  background-color: white;
  width: 150px;
  height: 30px;
  padding: 8px 0px 0px 8px;
  color: rgba(0, 0, 0, 0.573);
}

#main1 {
  margin-top: 100px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}
.img1 {
  width: 300px;
  height: 400px;
  background-image: url(person-coding-project-laptop_1079150-36836.avif);
  background-size: cover;
  border-radius: 20px;
  margin-left: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.img2 {
  width: 920px;
  margin-right: 50px;
  background-color: rgb(220, 207, 245);
  border-radius: 20px;
  padding: 20px 0px 0px 15px;
  color: rgba(0, 0, 0, 0.663);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  font-size: x-large;
}
.img1:hover,
.img2:hover {
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.455);
}
#main2 {
  margin-top: 90px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-content: baseline;
  color: white;
}
.box1,
.box2,
.box3,
.box4 {
  width: 250px;
  height: 90px;
  border-radius: 5px;
  padding: 15px 0px 0px 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  margin-left: 60px;
  font-weight: 600;
}
.box1 {
  background-color: rgb(155, 155, 232);
  margin-left: 90px;
}
.box2 {
  background-color: rgb(57, 57, 237);
}
.box3 {
  background-color: rgba(222, 84, 240, 0.864);
}
.box4 {
  background-color: rgb(3, 3, 10);
  margin-right: 90px;
}
.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover {
  box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.445);
}
#main3 {
  margin-top: 120px;
  display: grid;
  width: 1300px;
  margin-left: 110px;
  height: 450px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-radius: 20px;
  background-color: rgba(0, 0, 255, 0.823);
}
.box5,
.box6,
.box7,
.box8 {
  border: 3px solid white;
}
.box5,
.box7,
.box8 {
  width: 250px;
  height: 50px;
  border-radius: 20px;
  padding-top: 30px;
  margin-top: 32px;
  margin-left: 40px;
  color: white;
  font-size: larger;
  text-align: center;
  font-weight: 700;
}
.box6 {
  grid-row: 1/4;
  grid-column: 2;
  border-radius: 20px;
  width: 900px;
  height: 400px;
  margin-top: 12px;
  margin-right: 12px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(15, 1, 1, 0.3);
  padding: 20px 0px 0px 50px;
  color: rgb(12, 43, 115);
}
.box5 {
  color: black;
  background-color: rgb(138, 212, 233);
  border: 3px solid rgb(138, 212, 233);
  box-shadow: 2px 2px 10px rgba(15, 1, 1, 0.3);
}
.box5:hover {
  box-shadow: 10px 10px 20px rgba(15, 1, 1, 0.445);
}
.list {
  list-style-type: none;
}
#nextbtn {
  width: 100px;
  height: 30px;
  background-color: black;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 8px;
  margin-left: 740px;
  margin-top: 30px;
  box-shadow: 2px 2px 10px rgba(15, 1, 1, 0.3);
}
#nextbtn:hover {
  box-shadow: 10px 10px 20px rgba(15, 1, 1, 0.445);
}

#sticky {
  width: 90px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  left: 1420px;
  top: 300px;
}
.icon1,
.icon2,
.icon3 {
  border: 2px solid black;
  width: 70px;
  height: 70px;
  margin-left: 8px;
  border-radius: 5px;
  background-size: cover;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.icon1 {
  background-image: url(Whatsapp.png);
}
.icon2 {
  background-image: url(facebook.png);
}
.icon3 {
  background-image: url(twitter.png);
}
.icon1:hover,
.icon2:hover,
.icon3:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.35);
}

#help {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url(help\ icon.png);
  background-size: cover;
  position: fixed;
  top: 630px;
  left: 1300px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
#help:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.35);
}
i {
  size: 10px;
}
